<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>

    <link rel="stylesheet" href="/src/style.css">
    <link href="./dist/output.css" rel="stylesheet">
</head>
<body>
    <footer class="bg-my-white">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-my-black">© 2024 <a href="https://flowbite.com/" class="hover:underline">Racines & Boucles™</a>. All Rights Reserved.
          </span>
          <ul class="flex flex-wrap justify-evenly items-center w-4/12 mt-3 text-sm font-medium text-my-fuschia sm:mt-0">
              <li>
                  <a href="/index.html" class="hover:bg-my-fuschia hover:text-my-white hover:px-3 hover:py-2 hover:rounded-md me-4 md:me-6">Accueil</a>
              </li>
              <li>
                  <a href="/html-files/articles.html" class="hover:bg-my-fuschia hover:text-my-white hover:px-3 hover:py-2 hover:rounded-md me-4 md:me-6">Articles</a>
              </li>
              <li>
                <a href="/html-files/articles.html" class="hover:bg-my-fuschia hover:text-my-white hover:px-3 hover:py-2 hover:rounded-md me-4 md:me-6">Quiz</a>
              </li>
              <li>
                  <a href="#" class="hover:bg-my-fuschia hover:text-my-white hover:px-3 hover:py-2 hover:rounded-md me-4 md:me-6">A propos</a>
              </li>
              <li>
                  <a href="#" class="hover:bg-my-fuschia hover:text-my-white hover:px-3 hover:py-2 hover:rounded-md">Contact</a>
              </li>
          </ul>
        </div>
      </footer>
    
</body>
</html>